<div class="row">
    <div class="col-6 offset-3">
        <div class="card bg-light">
            <div class="card-body">
                <h1 class="text-center">{{ title }}</h1>
                <br><br>
                {{ form_start(form) }}
                {{ form_row(form.username) }}
                {{ form_row(form.email) }}
                {% if title == 'Edit User' and app.user.admin == true %}    
                {{ form_row(form.admin) }}
                {% endif %}
                {{ form_row(form.plainPassword) }}
                <button class="btn btn-warning btn-block">{{ button_label|default('Save') }}</button>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
</div>
